{% extends 'certificate/certificate_base.html' %}

{% load static %}
{% block modcss %}

{% endblock %}

{% block body %}

<div class="container-fluid ">
  <div class="row   ">
    <div class="col  ">
      <div class="card text-white bg-warning" style="width: 18rem;">
        <div class="card-header text-dark">
          <h4>Nivel de control de Impulsos</h3>
        </div>
        <div class="card-body ">
          <h5 class="card-title text-secondary">Puntaje: {{feedback.impulsiveness_total}} ({{headCommentTotal}})</h5>
          <p class="card-text">{{commentTotal}}</p>
        </div>
      </div>
    </div>
    <div class="col ">
      <h3>
        Gráfico de Puntajes
        <small class="text-muted">según media y resultados del usuario</small>
      </h3>
      <div id="grafico"></div>
    </div>

  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-9">
      <h3>Tipos de impulsividad</h3>
      <div class="row">
        <div class="card-columns">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Cognitiva</h5>
              <h6 class="card-subtitle mb-2 text-muted">Puntaje: {{feedback.impulsiveness_attentional}}</h6>
              <p class="card-text">{{attentionalComment}} </p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Motora</h5>
              <h6 class="card-subtitle mb-2 text-muted">Puntaje: {{feedback.impulsiveness_motor}}</h6>
              <p class="card-text">{{motorComment}}</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">No planificada</h5>
              <h6 class="card-subtitle mb-2 text-muted">Puntaje: {{feedback.impulsiveness_non_planning}}</h6>
              <p class="card-text">{{non_PlanningComment}} </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>



  <!-- Content here -->
</div>


{% endblock %}

{% block more_pages %}
{% endblock %}

{% block modjs %}
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script>

  var non_planning = {{ feedback.impulsiveness_non_planning }};
  var attentional = {{ feedback.impulsiveness_attentional }};
  var motor = {{ feedback.impulsiveness_motor }};

  google.charts.load('current', { packages: ['corechart', 'bar'] });
  google.charts.setOnLoadCallback(drawMultSeries);

  function drawMultSeries() {
    var data = google.visualization.arrayToDataTable([
      ['Impulsividad', 'Media', 'Resultado'],
      ['No planificada', 14, non_planning],
      ['Cognitiva', 9.5, attentional],
      ['Motora', 9.5, motor]
    ]);

    var options = {

      chartArea: { width: '50%' },
      backgroundColor: 'transparent',
      hAxis: {
        title: 'Puntaje',
        minValue: 0,
        maxValue: 16
      },
      vAxis: {
        title: 'Tipos de impulsividad'
      }
    };

    var chart = new google.visualization.BarChart(document.getElementById('grafico'));
    chart.draw(data, options);
  }


</script>
{% endblock %}