{% block head %}
    <div id="logo" class="full_center">
        <a>Aquí va un logo</a>
    </div>
    <div id="personal_info" class="full_center">
        <div class="full_container full_center">
            <div class="info_col vertical">
                <ul class="data">
                    <li>Nombre: {{person.name}} </li>
                    <li>RUN: 00.000.000-0</li>
                    <li>Edad: 00</li>
                    <li>Sexo: N/I</li>
                    <li>Ciudad: P/D</li>
                </ul>
            </div>
            <div class="info_col vertical">
                <ul class="data">
                    <li>Rendido: </li>
                    <li>Válido hasta: P/D</li>
                    <li>Estado:  </li>
                    <li>Lugar de rendición: Online</li>
                    <li>Cod: --- </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}